appProperties:
  host.validation: false
  host.url: 'https://localhost:8443'
datasourceProperties:
  jdbc.url: 'jdbc:mysql://ssc-mysql:3306/ssc?allowPublicKeyRetrieval=true&useSSL=false&'
  db.username: fortify
  db.password: fortify
dbMigrationProperties:
  migration.enabled: true
  migration.username: root
  migration.password: fortify
